@font-face {
    font-family: AtkinsonHyperlegible;
    src: url(./fonts/AtkinsonHyperlegible-Regular.ttf);
}

@font-face {
    font-family: AtkinsonHyperlegibleBold;
    src: url(./fonts/AtkinsonHyperlegible-Bold.ttf);
}

@bg-light: hsl(135 100% 98%);
@bg-dark: hsl(138 38% 9%);

@bg-alternate-light: hsl(165 20% 88%);
@bg-alternate-dark: hsl(140 39% 31%);

@text-light: hsl(138 38% 9%);
@text-dark: hsl(135 100% 98%);

@text-alternate-light: hsl(140 39% 31%);
@text-alternate-dark: hsl(165 20% 88%);

@accent-light: hsl(16 64% 65%);
@accent-dark: hsl(16 64% 85%);

@hyperlink-light: hsl(200 100% 40%);
@hyperlink-dark: hsl(200 100% 80%);

:root {
    color-scheme: light dark;
    --bg-color: light-dark(@bg-light,@bg-dark);
    --text-color: light-dark(@text-light,@text-dark);
    --accent-color: light-dark(@accent-light,@accent-dark);
    --link-color: light-dark(@hyperlink-light,@hyperlink-dark);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: AtkinsonHyperlegible;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    border: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--link-color);
}

.header {
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 80%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.footer {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 0.8rem;
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.footer-text {
    align-self: center;
    display: flex;
    gap: 1rem;
}

.footer-items {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}

.footer-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-image {
    max-width: 90%;
}

.nav-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
}

.nav-items {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-color);
    background-color: transparent;
    border: 0;
    border-radius: 1rem;
    padding: 0 1rem;
    transition: background-color 0.4s;
}

.nav-item:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.nav-item-active {
    background-color: var(--text-color);
    color: var(--bg-color);
}

#book-a-clean-btn {
    background-color: var(--accent-color);
    color: var(--bg-color);
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    transition: background-color 0.4s;
}

#book-a-clean-btn:hover {
    background-color: var(--text-color);
}

.nav-hamburger {
    display: none;
}

.aboutus-container {
    display: grid;
    gap: 1rem;
    justify-content: space-around;
    grid-template-columns: auto auto auto;
}

.home-container {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

// Maintainance Page
.maintainance-container {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.maintainance-logo {
    max-width: 30%;
}

.maintainance-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintainance-heading {
    display: flex;
    font-size: 3rem;
    font-family: AtkinsonHyperlegibleBold;
}

.maintainance-subheading {
    font-size: 1.5rem;
    color: var(--text-color);
}

.maintainance-plug {
    min-width: 100%;
}
.maintainance-footer-spacer {
    width: 100%;
    padding: .1rem;
    background-color: var(--bg-color);
}
.maintainance-footer {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
}
.maintainance-footer-content {
    font-weight: 800;
    padding: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
}
.maintainance-bubble {
    border-radius: 1rem;
    padding: 0 .5rem;
    display: flex;
    gap: 0.5rem;
    background-color: var(--bg-color);
}
.maintainance-icon {
    max-width: 2rem;
}

.display-off {
    display: none;
}

.display-on {
    display: block;
}

@media screen and (max-width: 897px) {
    #hero-image {
	max-width: 100%;
    }
    .nav-hamburger, .nav-logo {
	.display-off()
    }
    .aboutus-container {
	grid-template-columns: auto auto;
    }
} 

@media screen and (max-width: 620px) {
    .nav-hamburger {
	.display-on()
    }
    .nav-items {
	.display-off()
    }
    .footer-items {
	grid-template-columns: auto auto;
    }
    .maintainance-footer-content {
	flex-direction: column;
    }
    .maintainance-text {
	padding-left: 1rem;
	align-items: flex-start;
    }
    .maintainance-heading {
	display: flex;
    }
}
